.zoom{
    text-align: right;
    padding: 1%;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1% 2% 2% 2%;
  }

  .form-item {
    flex: 1 1 200px;
    min-width: 200px;
  }

  .popup_title{
    padding-left: 2%;
    padding-top: 2%;
  }

  .form-buttons{
    padding-right: 2%;
  }
