:root {
  --base: #0F0F0F;
  --base-80: #1F1D1D;
  --base-50: #313131;
  --primary: #FE7F38;
  --primary-110: #FF6915;
  --gray: #767676;
  --medium-gray: #ACA7A7;
  --soft-gray: #DCDCDC;
  --contrast: #EAEAEA;
  --ghost: #F5F5F5;
  --info: #406FE7;
  --error: #E75440;
  --add: #00FF00;
  --white: #FFF;
  --xl: 1.5rem;
  --lg: 1.125rem;
  --sm: 0.875rem;
  --xs: 0.5rem;
  --xxs: 0.25rem;


  /* Nuevos colores */
  --red: #FF5252;
  --orange: #FF914D;
  --light-purple: #D9C6FF;
  --yellow: #FFDE59;
  --dark-gray: #545454;
  --light-gray: #D9D9D9;
  --orange-opacity-27: rgba(255, 145, 77, 0.27);

}

/* @font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecPro-Italic";
  src: url("../fonts/CodecPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecPro-Regular";
  src: url("../fonts/CodecPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecPro-UltraBlack";
  src: url("../fonts/codec-pro-ultra-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecPro-ExtraBold";
  src: url("../fonts/codec-pro-extra-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 */
