<div class="mainContainer">
  <div class="subExpandForm">
    <h1 class="titleForm">Crear Cliente</h1>
    <div class="subExpandBorder">
      <form [formGroup]="formGroup" (ngSubmit)="guardar()">
        <div class="yForm">
          <div class="x">
            <text-input type="text" label="Nombres" [controller]="formGroup.get('nombres')"> </text-input>
          </div>
          <div class="x">
            <text-input type="text" label="Apellidos" [controller]="formGroup.get('apellidos')"> </text-input>
          </div>


        <div class="x space">
          <label>Tipo de Contacto</label>
            <ng-select [clearable]="false" id="tipoContacto" formControlName="tipoContacto">
              <ng-option value="" disabled>Seleciona...</ng-option>
              @for (tipoContacto of TipoContacto ; track tipoContacto.id) {
              <ng-option [value]="tipoContacto.id">{{tipoContacto.descripcion}}</ng-option>
              }
            </ng-select>
            @if (!formGroup.get('tipoContacto')?.valid && formGroup.get('tipoContacto')?.touched)
            {
            <span class="error-message"> {{ formGroup.get('tipoContacto')?.errors?.['message'] }} </span>
            }
          </div>
        </div>

        <div class="yForm">
          <div class="x">
            <text-input type="text" label="Telefono" [controller]="formGroup.get('telefono')"> </text-input>
          </div>
          <div class="x">
            <text-input type="text" label="Dirección" [controller]="formGroup.get('direccion')"> </text-input>
          </div>
        <div class="x"></div>
        </div>
      </form>
    </div>

        <div class="actions">
          <action-button variant="cancel" text="Cancelar" ></action-button>
          <action-button variant="accept" text="Guardar" (click)="guardar()"
            [isDisabled]="!formGroup.valid"></action-button>
        </div>
  </div>
</div>





